<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.linenisgreat.code.dodder</string>
	<key>connections</key>
	<dict>
		<key>00AFDE95-80F8-4BC7-8892-CE76CF46CA51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF84B909-1E7A-4BD8-930B-B684AE486CC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>064D3FF9-4A53-4386-A85C-ADBC071A4B45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FADD146-953E-4E59-AC83-1D5DC61FB5B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>065E0143-C5A6-46AD-BF37-453921962462</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>895425E9-771A-4951-8FD6-DEB2F5852B42</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open both the Zettel and Akte</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>950160DE-830C-4407-BD99-4B01572757EC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open just the Akte</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A06D2CD5-673F-419A-AB99-A550A0EACFC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C5B8A2B-102D-4F3B-8C3E-619FB90D0421</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FADD146-953E-4E59-AC83-1D5DC61FB5B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12514196-06D7-4396-A40C-C1958AD23AB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B720BD9-B13E-4656-BE1C-A2E9375F0A2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>269A278F-6548-421F-9F51-4AC1E96D977C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61F2BA51-DFAC-482A-BCA0-67082B2BE2EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2FADD146-953E-4E59-AC83-1D5DC61FB5B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8445F8DA-955D-45F0-B885-50BC40C54D8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>347AC3E7-3632-41A7-907C-226816744196</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61F2BA51-DFAC-482A-BCA0-67082B2BE2EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>444B4D35-D43F-41C9-A190-D899837F7011</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>269A278F-6548-421F-9F51-4AC1E96D977C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>486C81D5-9C4F-46E2-9330-8FF327B98308</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E394148-F0B0-4AD2-B0A9-1E9E7DF3A56D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62AA6EFA-0EE7-4281-A486-86668304065D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC3C07B8-3DDD-43D7-AA29-FD519DC81DD1</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open both the Zettel and Akte</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C5B8A2B-102D-4F3B-8C3E-619FB90D0421</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open just the Akte</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>064D3FF9-4A53-4386-A85C-ADBC071A4B45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E394148-F0B0-4AD2-B0A9-1E9E7DF3A56D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>269A278F-6548-421F-9F51-4AC1E96D977C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>895425E9-771A-4951-8FD6-DEB2F5852B42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FADD146-953E-4E59-AC83-1D5DC61FB5B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B720BD9-B13E-4656-BE1C-A2E9375F0A2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61F2BA51-DFAC-482A-BCA0-67082B2BE2EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>950160DE-830C-4407-BD99-4B01572757EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FADD146-953E-4E59-AC83-1D5DC61FB5B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A06D2CD5-673F-419A-AB99-A550A0EACFC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FADD146-953E-4E59-AC83-1D5DC61FB5B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C77AC6A2-AC57-4817-AE11-A9B51FBB00D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F60AF8A6-A89F-4B56-9FE0-3C117CBF0AB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C822DAF0-D9F7-43B4-907B-C5A8856CE025</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E62888FE-94ED-4737-8F22-0ADAEA07B61C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBD7690E-326B-4130-AC0C-928BA90D0CAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8445F8DA-955D-45F0-B885-50BC40C54D8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D761F97C-7340-4373-9717-EB499709B092</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBD7690E-326B-4130-AC0C-928BA90D0CAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF84B909-1E7A-4BD8-930B-B684AE486CC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8445F8DA-955D-45F0-B885-50BC40C54D8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2D4A7FF-966A-4467-8B00-8B9BD28FF775</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>444B4D35-D43F-41C9-A190-D899837F7011</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E62888FE-94ED-4737-8F22-0ADAEA07B61C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>347AC3E7-3632-41A7-907C-226816744196</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC3C07B8-3DDD-43D7-AA29-FD519DC81DD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FADD146-953E-4E59-AC83-1D5DC61FB5B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F60AF8A6-A89F-4B56-9FE0-3C117CBF0AB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>269A278F-6548-421F-9F51-4AC1E96D977C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sasha F</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>dodder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>actions</key>
					<string>both</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>895425E9-771A-4951-8FD6-DEB2F5852B42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>der open hidden</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>'@dodder@' cat-alfred -repo_id '@repo_id@' ':?z,e'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Zettels (including hidden)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>065E0143-C5A6-46AD-BF37-453921962462</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>actions</key>
					<string>blob</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>950160DE-830C-4407-BD99-4B01572757EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>actions</key>
					<string>object</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A06D2CD5-673F-419A-AB99-A550A0EACFC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>'@dodder@' edit -repo_id '@repo_id@' -ephemeral -mode "$actions" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2FADD146-953E-4E59-AC83-1D5DC61FB5B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>actions</key>
					<string>both</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EC3C07B8-3DDD-43D7-AA29-FD519DC81DD1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>der open</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading</string>
				<key>script</key>
				<string>'@dodder@' cat-alfred -repo_id '@repo_id@' ':z,e'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Zettels</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>62AA6EFA-0EE7-4281-A486-86668304065D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>actions</key>
					<string>blob</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0C5B8A2B-102D-4F3B-8C3E-619FB90D0421</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>actions</key>
					<string>object</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>064D3FF9-4A53-4386-A85C-ADBC071A4B45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Dodder Results</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8445F8DA-955D-45F0-B885-50BC40C54D8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Move to Dodder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>D761F97C-7340-4373-9717-EB499709B092</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>nohup '@dodder@' new -repo_id '@repo_id@' -ephemeral -organize -delete "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CBD7690E-326B-4130-AC0C-928BA90D0CAB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [[ "$#" -gt 0 ]]; then
	'@dodder@' new -repo_id '@repo_id@' -ephemeral -edit=true -description "$*"
else
	'@dodder@' new -repo_id '@repo_id@' -ephemeral -edit=true
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DF84B909-1E7A-4BD8-930B-B684AE486CC4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>der new</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create a new Zettel</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>00AFDE95-80F8-4BC7-8892-CE76CF46CA51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>zn</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>12514196-06D7-4396-A40C-C1958AD23AB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>'@dodder@' new -repo_id '@repo_id@' -ephemeral</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8B720BD9-B13E-4656-BE1C-A2E9375F0A2E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>'@dodder@' format-blob -repo_id '@repo_id@' "$@" text</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>347AC3E7-3632-41A7-907C-226816744196</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>z</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>C822DAF0-D9F7-43B4-907B-C5A8856CE025</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>'@dodder@' cat-alfred -repo_id '@repo_id@' :z</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E62888FE-94ED-4737-8F22-0ADAEA07B61C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>61F2BA51-DFAC-482A-BCA0-67082B2BE2EB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>'@dodder@' cat-alfred -repo_id '@repo_id@' :z</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F60AF8A6-A89F-4B56-9FE0-3C117CBF0AB3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>zi</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>C77AC6A2-AC57-4817-AE11-A9B51FBB00D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>269A278F-6548-421F-9F51-4AC1E96D977C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>'@dodder@' cat-alfred -repo_id '@repo_id@' ?e</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>444B4D35-D43F-41C9-A190-D899837F7011</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>zth</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>E2D4A7FF-966A-4467-8B00-8B9BD28FF775</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>'@dodder@' cat-alfred -repo_id '@repo_id@' :e</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6E394148-F0B0-4AD2-B0A9-1E9E7DF3A56D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>zt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>486C81D5-9C4F-46E2-9330-8FF327B98308</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00AFDE95-80F8-4BC7-8892-CE76CF46CA51</key>
		<dict>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>1070.0</real>
		</dict>
		<key>064D3FF9-4A53-4386-A85C-ADBC071A4B45</key>
		<dict>
			<key>note</key>
			<string>zettel</string>
			<key>xpos</key>
			<real>280.0</real>
			<key>ypos</key>
			<real>815.0</real>
		</dict>
		<key>065E0143-C5A6-46AD-BF37-453921962462</key>
		<dict>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>365.0</real>
		</dict>
		<key>0C5B8A2B-102D-4F3B-8C3E-619FB90D0421</key>
		<dict>
			<key>note</key>
			<string>blob</string>
			<key>xpos</key>
			<real>280.0</real>
			<key>ypos</key>
			<real>720.0</real>
		</dict>
		<key>12514196-06D7-4396-A40C-C1958AD23AB6</key>
		<dict>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>1605.0</real>
		</dict>
		<key>269A278F-6548-421F-9F51-4AC1E96D977C</key>
		<dict>
			<key>xpos</key>
			<real>395.0</real>
			<key>ypos</key>
			<real>2075.0</real>
		</dict>
		<key>2FADD146-953E-4E59-AC83-1D5DC61FB5B4</key>
		<dict>
			<key>xpos</key>
			<real>455.0</real>
			<key>ypos</key>
			<real>530.0</real>
		</dict>
		<key>347AC3E7-3632-41A7-907C-226816744196</key>
		<dict>
			<key>xpos</key>
			<real>355.0</real>
			<key>ypos</key>
			<real>1735.0</real>
		</dict>
		<key>444B4D35-D43F-41C9-A190-D899837F7011</key>
		<dict>
			<key>xpos</key>
			<real>180.0</real>
			<key>ypos</key>
			<real>2110.0</real>
		</dict>
		<key>486C81D5-9C4F-46E2-9330-8FF327B98308</key>
		<dict>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>2245.0</real>
		</dict>
		<key>61F2BA51-DFAC-482A-BCA0-67082B2BE2EB</key>
		<dict>
			<key>xpos</key>
			<real>590.0</real>
			<key>ypos</key>
			<real>1865.0</real>
		</dict>
		<key>62AA6EFA-0EE7-4281-A486-86668304065D</key>
		<dict>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>690.0</real>
		</dict>
		<key>6E394148-F0B0-4AD2-B0A9-1E9E7DF3A56D</key>
		<dict>
			<key>xpos</key>
			<real>180.0</real>
			<key>ypos</key>
			<real>2245.0</real>
		</dict>
		<key>8445F8DA-955D-45F0-B885-50BC40C54D8A</key>
		<dict>
			<key>xpos</key>
			<real>865.0</real>
			<key>ypos</key>
			<real>845.0</real>
		</dict>
		<key>895425E9-771A-4951-8FD6-DEB2F5852B42</key>
		<dict>
			<key>note</key>
			<string>both</string>
			<key>xpos</key>
			<real>280.0</real>
			<key>ypos</key>
			<real>300.0</real>
		</dict>
		<key>8B720BD9-B13E-4656-BE1C-A2E9375F0A2E</key>
		<dict>
			<key>xpos</key>
			<real>355.0</real>
			<key>ypos</key>
			<real>1605.0</real>
		</dict>
		<key>950160DE-830C-4407-BD99-4B01572757EC</key>
		<dict>
			<key>note</key>
			<string>blob</string>
			<key>xpos</key>
			<real>280.0</real>
			<key>ypos</key>
			<real>395.0</real>
		</dict>
		<key>A06D2CD5-673F-419A-AB99-A550A0EACFC5</key>
		<dict>
			<key>note</key>
			<string>zettel</string>
			<key>xpos</key>
			<real>280.0</real>
			<key>ypos</key>
			<real>490.0</real>
		</dict>
		<key>C77AC6A2-AC57-4817-AE11-A9B51FBB00D9</key>
		<dict>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>1985.0</real>
		</dict>
		<key>C822DAF0-D9F7-43B4-907B-C5A8856CE025</key>
		<dict>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>1735.0</real>
		</dict>
		<key>CBD7690E-326B-4130-AC0C-928BA90D0CAB</key>
		<dict>
			<key>note</key>
			<string>z new --with-file</string>
			<key>xpos</key>
			<real>440.0</real>
			<key>ypos</key>
			<real>930.0</real>
		</dict>
		<key>D761F97C-7340-4373-9717-EB499709B092</key>
		<dict>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>930.0</real>
		</dict>
		<key>DF84B909-1E7A-4BD8-930B-B684AE486CC4</key>
		<dict>
			<key>note</key>
			<string>z new</string>
			<key>xpos</key>
			<real>440.0</real>
			<key>ypos</key>
			<real>1070.0</real>
		</dict>
		<key>E2D4A7FF-966A-4467-8B00-8B9BD28FF775</key>
		<dict>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>2110.0</real>
		</dict>
		<key>E62888FE-94ED-4737-8F22-0ADAEA07B61C</key>
		<dict>
			<key>xpos</key>
			<real>190.0</real>
			<key>ypos</key>
			<real>1735.0</real>
		</dict>
		<key>EC3C07B8-3DDD-43D7-AA29-FD519DC81DD1</key>
		<dict>
			<key>note</key>
			<string>both</string>
			<key>xpos</key>
			<real>280.0</real>
			<key>ypos</key>
			<real>625.0</real>
		</dict>
		<key>F60AF8A6-A89F-4B56-9FE0-3C117CBF0AB3</key>
		<dict>
			<key>xpos</key>
			<real>180.0</real>
			<key>ypos</key>
			<real>1985.0</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>code.linenisgreat.com/dodder</string>
</dict>
</plist>
